{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  {% block title %}   <title>Pramartha | Services</title> {% endblock %}
</head>
<body>
  {% block services %}
  <h4>SERVICES</h4>

  <div class="accordion" id="accordionExample">

    <div class="card">
      <div class="card-header" id="headingOne">
        <button class="btn btn-link btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div class="card mb-3">
            <img src="https://raw.githubusercontent.com/lathika12/WebPageCodeRepo/master/images/act3.jpg" class="card-img-top" alt="actuarial">
            <div class="card-img-overlay">
              <h5 class="card-title display-4"> <strong>ACTUARIAL</strong> </h5>
            </div>
          </div>
        </button>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">

          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">Actuarial Science is a method by which corporations determine, assess and plan for the financial impact of risk.
                    Actuaries use mathematical and statistical models to evaluate risk in the insurance and finance industries.
                    In addition to mathematical and statistical methods, actuaries call upon other fields including probability,
                    finance, economics and computer programming to create actuarial models.
                    Actuarial science is used to evaluate and predict future payouts for insurance and other financial industries such as the pension industry.
                    <br><br>
                    Pramartha uses various actuarial models and analytical tools that help our valued clients quantify, evaluate,
                    and manage the costs associated with their insurance and risk management programs. We specialize in a number of areas.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Following are the focus areas of Pramartha:</h5>
                    <ul>
                      <li>Asset Liability Modeling (ALM)</li>
                      <li>Liability Index & LDI strategies</li>
                      <li>Solvency II related services</li>
                      <li>Gratuity and other Employee Benefit Valuation</li>
                      <li>Pricing of Insurance Products</li>
                      <li>Management of insurable risks</li>
                      <li>Selection and Evaluation of insurance contracts</li>
                      <li>Design of Pension Plans and valuation of their costs and commitments</li>
                      <li>Embedded Value Calculation for Insurance IPO's, Mergers & Acquisitions, etc.</li>
                      <li>Takaful and other Islamic product related services</li>
                      <li>Micro insurance related services</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <button class="btn btn-link btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="card mb-3">
              <img src="https://raw.githubusercontent.com/lathika12/WebPageCodeRepo/master/images/building%20tomorrow.jpg" class="card-img-top" alt="consulting">
              <div class="card-img-overlay">
                <h5 class="card-title display-4"> <strong>CONSULTING</strong> </h5>
              </div>
            </div>
          </button>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">

            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">Pramartha has extensive global reach and strong industry network across the world with leading consultants and experts delivering their
                      knowledge and expertise in providing business solutions to its clients.The unique business model of Pramartha is tailored to provide
                      the best services to each client or project. The company is built on the philosophy of share and gain. Pramartha provides Consulting and
                      Advisory service across all sectors.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">The various Consulting Services offered by Pramartha are:</h5>
                      <ul>
                        <li>New Business Planning & Opportunity Evaluations</li>
                        <li>Advising merger & acquisition and restructuring transactions</li>
                        <li>Foreign licensing</li>
                        <li>Joint Ventures</li>
                        <li>Capital Raising and VC Funding</li>
                        <li>Franchise Consulting Services</li>
                        <li>Government Project Consulting</li>
                        <li>Infrastructure and energy Consulting</li>
                        <li>Brand Management and Valuation</li>
                        <li>Charities and Trust Formation and Structuring</li>
                        <li>BPO and KPO consulting and advisory Services</li>
                        <li>Debt Syndication</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              ANALYTICS
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              ANALYTICS
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              ENTERPRISE RISK MANAGEMENT(ERM)
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              QUANT
            </button>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

    </div>

    {% endblock %}
  </body>
  </html>
