{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block title %}   <title>Pramartha</title> {% endblock %}
  </head>
  <body>

    {% block aboutus %}

    <br>
      <div class="card mb-3 bg-light" style="max-width: 100rem;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://78462f86-a-d15fad8a-s-sites.googlegroups.com/a/pramartha.com/www/home/Pramartha%20Model.bmp?attachauth=ANoY7crxiSbb7yQKtJea6BQVvLR2Mmz0Z5--m_iIzm2GyAkcAGY56nm0Dq00prRN5kV7clEYkVsGq1QaLojuW8XtHOablYXMNNdiG0AYzoPu7UI0DeBR6jert1RgnKR7ptYSkhkotgeczPTsI7NWSG3g0FtQQ9Gjdx47Xd5vzR7JkGpfhisaj2FaYakEBjcay4G8gsjkJRoOMslJiLAjSP86N3IQfTqqcw%3D%3D&attredirects=0" class="card-img-top" width="200px" height="500px" alt="IMG">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4>ABOUT US</h4>
              <br>
              <h5 class="card-title">Pramartha is a risk consulting firm with expertise in actuarial, quantitative and analytics practices.</h5>
              <p class="card-text">Pramartha is one of the few Indian firms working in the wider area of <b>Actuarial Applications, Enterprise Risk Management, Quantitative Techniques and Analytics</b>. We have developed in house tools and techniques to access a company's risks across sectors and geographies.With our in depth expertise in formulating cutting edge strategies we convert your business risk into opportunity.</p>
              <br>
              <h5>WHY US?</h5>
              <ul>
                <li>Integrity, Professionalism and Confidentiality</li>
                <li>Premium Quality Service at reasonable cost</li>
                <li>Cutting Edge Research Methods</li>
                <li>Breadth and depth of Expertise</li>
              </ul>
              <br>
              <h4 class="text-center"><b>Vision:</b> To be a Global leader in Risk Management and Consulting</h4>
              <br>
              <h5 class="text-center">CAPITAL RAISING & ADVISORY | DATA SCIENCE & ANALYTICS | EDUCATION & RESEARCH</h5>
              <br>
              <h6 class="text-center">AUSTRALIA | INDIA | KENYA | MALAYSIA | JAPAN | SOUTH AFRICA | UAE | UNITED STATES | ZIMBABWE</h6>
            </div>
          </div>
        </div>
      </div>

    {% endblock %}



  </body>
</html>
