{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  {% block title %}   <title>Pramartha | Management</title> {% endblock %}
</head>
<body>
  {% block management %}

<br>
    <div class="card-deck">
      <div class="card border-light border-0 bg-transparent" style="max-width: 2rem;">
        <div class="card-body">

        </div>
      </div>

      <div class="card mb-3 border-0 bg-transparent" style="max-width: 95rem;">
        <div class="row no-gutters">


          <div class="card-deck">
            <div class="card">
              <img src="https://raw.githubusercontent.com/lathika12/WebPageCodeRepo/master/images/mahi.jpg" class="card-img-top img-thumbnail rounded mx-auto d-block" style="max-width: 15rem;" alt="IMG">
              <div class="card-body">
                <h5 class="card-title">Mahidhara Davangere V.</h5>
                <p class="card-text"><small class="text-muted">MBA, MFC, MSc (Maths), DAT (UK), AIA</small></p>
                <h6>Founder and Managing Director</h6>
                <p class="card-text">Mahidhara is an Associate Actuary and a Risk consultant. He is the Founder of Pramartha and has over a decade of extensive experience in Research and financial valuation covering industries like Banking, Insurance and financial sectors in India, South Africa and other emerging African markets. Also, has experience in US Mortgage industry.  His expertise lies in commercializing innovative ideas to practical realities. He is an eloquent speaker and is passionate about Mathematics and Art.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://raw.githubusercontent.com/lathika12/WebPageCodeRepo/master/images/basav_pp.jpg" height="1px" class="card-img-top img-thumbnail rounded mx-auto d-block" style="max-width: 15rem;" alt="IMG">
              <div class="card-body">
                <h5 class="card-title">Basavaraj</h5>
                <h6>Chief Strategist</h6>
                <p class="card-text">Basavaraj comes with about 21yrs of corporate experience, worked for Subex, Unimobile, EFI, VeriSign and Syniverse in various capacities. He has played key roles in building new market segments, new products, P&L ownership, substantial growth in top-line and bottom-line. He has traveled extensively across APAC countries, Europe and USA. His key strengths and passion include mentoring startup’s, individuals for career growth and actively participated in incubating innovation within companies he worked and also externally. He loves to spend his free time in photography, working on his organic farm and campaigning for sustainable living. Basavaraj has a Master degree in Business Management from Southern New Hampshire University & ITM and a Bachelor degree (Engineering)  in Telecommunications from BMS College of Engineering.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://raw.githubusercontent.com/lathika12/WebPageCodeRepo/master/images/Pundi%20sir.jpg" class="card-img-top img-thumbnail rounded mx-auto d-block" style="max-width: 15rem;" alt="IMG">
              <div class="card-body">
                <h5 class="card-title">Pundi Narasimham</h5>
                <h6>Atlanta, USA</h6>
                <p class="card-text">Pundi is an American citizen, a serial entrepreneur, having built and sold many companies in last three decades in North America and Asia Pacific Region covering India, Malaysia and Phillipines. He represented the Fulton county and city of Valdosta in the state of Georgia, US to promote bilateral trade & service between India and US. He has diverse experience in the area of Life Sciences, Bio Technology, Analytics and Risk Management, IT staffing and Knowledge Process Outsourcing.  He has steered the acquisition of many IT companies in US. He has also published 14 research papers and 4 US Patents in the area of optical fibre research.</p>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="card border-light border-0 bg-transparent" style="max-width: 2rem;">
        <div class="card-body">

        </div>
      </div>

    </div>



  <div class="card-deck">

    <div class="card mb-3 border-0 bg-transparent border-light" style="max-width: 2rem;">
    </div>

    <div class="card mb-3" style="max-width: 90rem;">
      <div class="row no-gutters">

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Drew K Wilson</h5>
            <p class="card-text">Drew is currently the Founder and Principal of Turnstone Applied Research  based in Australia. He has 24+ years growing Investment and Wealth management businesses across institutional and retail sectors in Australia, India & Canada. Prior to starting his own firm he co founded Atom Funds Management, an Australian Small Cap Investment Boutique with offices in Sydney and Bangalore. He raised $ 75 million in institutional mandates and retail FUM for Atom. He also launched “Fat Fund”, a $30 million Listed investment company on the ASX.</p>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 20rem">
          <img src="https://raw.githubusercontent.com/lathika12/WebPageCodeRepo/master/images/drew.jpg" class="card-img" alt="IMG">
        </div>
        <br>
        <br>
        <div class="col-md-4" style="max-width: 20rem">
          <img src="https://raw.githubusercontent.com/lathika12/WebPageCodeRepo/master/images/krishnan.jpg" height=70% class="card-img" alt="IMG">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">R. Krishnan</h5>
            <p class="card-text">Krishnan joined SBI as a Sportsman in 1974 and worked as banker with State Bank of India (SBI) with more than 28 years of experience in Credit Management and implementation of Asset Liability Management (ALM). He also worked as the Secretary of Local Chapter of Indian Institute of Bankers for a period of about 3 years. From 2001 to 2009 he was connected with Bangalore Baptist hospital in the as a financial advisor and Auditor. He is currently a visiting faculty to various B-Schools like Mount Carmel, Sheshadripuram College, Global Institute of Management, Acharya Institute of Management in the areas pertaining to Banking, Finance, Hospital management. He was a Hockey Player and is passionate about Cricket, Music and Philately.</p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">CA. Subodh Suman</h5>
            <p class="card-text"><small class="text-muted">B. Com. (H), FCA, CAIIB, PGDGM (XLRI)</small></p>
            <p class="card-text">Subodh Suman is a Chartered Accountant having 9+ years of experience in the area of audit, project finance, corporate banking, taxation and strategic management. He has analyzed various projects across sectors from bank finance perspective. He has obtained his management degree from XLRI Jamshedpur. He has also attended certification program on strategic management at Freeman School of Business, USA and program on change management at ISB, Hyderabad  He is partner in M/s Suman & Sinha, Chartered Accountants, Bangalore and is assisting various corporates in the area of financial structuring, business intelligence and regulatory compliances. He is also a visiting faculty to prestigious B-Schools in India. </p>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 20rem">
          <img src="https://raw.githubusercontent.com/lathika12/WebPageCodeRepo/master/images/subodh.jpg" class="card-img" alt="IMG">
        </div>
        <br>
        <br>
        <div class="col-md-4" style="max-width: 20rem">
          <img src="https://raw.githubusercontent.com/lathika12/WebPageCodeRepo/master/images/Pattabhi.jpg" height=70% class="card-img" alt="IMG">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Pattabhi B. N. <small>M.Com FCA</small> </h5>
            <p class="card-text">Pattabhi is a Chartered Accountant and is presently partner in M/s Parimal Ram & Pattabhi, Chartered Accountants, Bangalore. He 13 plus years of experience in auditing and taxation. He has also been instrumental in various M&A activities for his clients in India and US. He also acted as an advisor to Government of Karnataka, Department of Pre-University Education in setting the new syllabus for I and II PUC. He is also a visiting faculty to various prestigious B-Schools in India. His hobbies are swimming and numerology.</p>
          </div>
        </div>


      </div>
    </div>

    <div class="card mb-3 border-light border-0 bg-transparent" style="max-width: 2rem;">
    </div>
  </div>

    </div>
  {% endblock %}
</body>
</html>
